.blue-template-color{
    color:#25a;
}
.orange-template-color{
    color:#ff8a00;
}
.light-yellow-template-color{
    color:#e6cf8b;
}
.red-template-color{
    color:#e62739;
}
.blue-text{
    color:blue
}

body  {
    background-image:url("/img/bg_3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.card{
    transition:transform .2s;
    width: auto;
    height: auto;
}
.card:hover{
    transform: scale(1.07);
    z-index: 1;
}

.white-template-background{
    background-color:#fff;
}
.orange-template-background{
    background-color:#f80;
}
.black-template-background{
    background-color:#000;
}
.red-template-background{
    background-color:#e62739;
}

.btn-orange{
    background-color: orangered;

    border: black;
    border-radius: 15%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
}

.btn:hover{
    background-color: #f80;
}
.site-header {
    border-bottom: 4px solid #ff8a00;
}

.special-h1-writing{
    font-family: 'Chantelli Antiqua', arial;
}


.popup{
    background: rgb(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    align-items: center;
    text-align: center;
    overflow:auto;

}
.popup-content{
    width: 2auto;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    
}

input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.close{
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}






.gradient-blue-both {
    background: #25a; /* Old browsers */
    background: -moz-linear-gradient(top, #25a 1%, #28d 6%, #39e 92%, #25a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #25a 1%,#28d 6%,#39e 92%,#25a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #25a 1%,#28d 6%,#39e 92%,#25a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25a', endColorstr='#25a',GradientType=0 ); /* IE6-9 */	
    }
    .gradient-blue-up {
    background: #25b; /* Old browsers */
    background: -moz-linear-gradient(top, #25b 0%, #39f 12%, #8ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #25b 0%,#39f 12%,#8ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #25b 0%,#39f 12%,#8ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25b', endColorstr='#8ce',GradientType=0 ); /* IE6-9 */
    }
    .gradient-black-bot{
    background: #555; /* Old browsers */
    background: -moz-linear-gradient(top, #555 0%, #444 0%, #222 0%, #111 91%, #444 100%, #111 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #555 0%,#444 0%,#222 0%,#111 91%,#444 100%,#111 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #555 0%,#444 0%,#222 0%,#111 91%,#444 100%,#111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#111',GradientType=0 ); /* IE6-9 */
    }
    .gradient-black-top{
    background: #4c4c4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #494949 0%, #131313 8%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#494949 0%,#131313 8%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#494949 0%,#131313 8%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    }
    .gradient-black-both {
    background: #555; /* Old browsers */
    background: -moz-linear-gradient(top, #555 0%, #4444 0%, #1111 10%, #111 90%, #444 100%, #111 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #555 0%,#444 0%,#111 10%,#111 90%,#444 100%,#111 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #555 0%,#444 0%,#111 10%,#111 90%,#444 100%,#111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555', endColorstr='#111',GradientType=0 ); /* IE6-9 */	
    }




    @media only screen and (max-width: 769px) {
        /*if smaller than a tablet should not be displayed */
        .position-custom{
            display: none;
        }
    }
    @media only screen and (min-width: 769px),screen and (max-width: 1160px) {
        .position-custom{
        /*if bigger than a tablet should be displayed */
            position: absolute;
            top:25%;
            left: 60%;
            width: auto;
            height: auto;
            z-index: 0;
            opacity: 0.8;
        }
      }
      @media only screen and (min-width: 1441px){
        .position-custom{
        /*if bigger than a tablet should be displayed */
            position: absolute;
            top:25%;
            left: 60%;
            width: 25%;
            height: 20%;
            z-index: 0;
            opacity: 0.8;
        }
      }


    